body {
    background-color: #091419;
}

h1 {
    color: whitesmoke;
}

h2 {
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
}

p {
    color: whitesmoke;
}

ul {
    list-style-type: none;
    margin: 25px;
    padding: 0;
    overflow: hidden;
    background-color: #245064;
}
  
li {
    float: left;
}
  
li a {
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

.sisempi-laatikko {
    background-color: #122832;
    margin: auto;
    max-width: 1000px;
    height: 1300px;
}