body {
    background-color: #091419;
}

h1 {
    color: #b0bec5;
}

h2 {
    color: #b0bec5;
}

h3 {
    color: #b0bec5;
}

p {
    color: #b0bec5;
}

hr {
    color: #b0bec5;
    width: 500px;
}

.funfact {
    color: #b0bec5;
    width: 700px;
}

.feedback-text {
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: 25px;
    padding: 0;
    overflow: hidden;
    background-color: #245064;
}
  
li {
    float: left;
}
  
li a {
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

.sisempi-laatikko {
    background-color: #122832;
    margin: auto;
    max-width: 1000px;
    height: 650px;
    padding: 20px;
    text-align: center;
}

.lomake {
    display: grid;
    position: relative;
    justify-content: center;
    padding: 10px;
    margin-top: 5px;
    color: #b0bec5;
    resize: none;
}

.email {
    max-width: 200px;
    padding: 5px;
    margin: auto;
    background-color: #1b3c4b;
    color: #b0bec5;
    border-radius: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    outline: none;
}

.email:focus {
    max-width: 190px;
    padding: 5px;
    margin: auto;
    background-color: #091419;
    color: whitesmoke;
    border-radius: 5px;
}

.rating {
    width: 100px;
    margin: auto;
}

.rating-box {
    max-width: 100px;
    margin: auto;
    padding: 3px;
    background-color: #1b3c4b;
    color: #b0bec5;
    border-radius: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    outline: none;
    cursor: pointer;
}

.rating-box:focus {
    max-width: 100px;
    margin: auto;
    padding: 3px;
    background-color: #1b3c4b;
    color: #b0bec5;
    border-radius: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    outline: none;
    cursor: pointer;
    background-color: #091419;
    color: whitesmoke;
}

.extra-comment-box {
    resize: none;
    padding: 7px;
    background-color: #1b3c4b;
    color: #b0bec5;
    border-radius: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    outline: none;
}

.extra-comment-box {
    resize: none;
    padding: 7px;
    background-color: #1b3c4b;
    color: #b0bec5;
    border-radius: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    outline: none;
}

.extra-comment-box:focus {
    resize: none;
    padding: 7px;
    background-color: #1b3c4b;
    color: #b0bec5;
    border-radius: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    outline: none;
    background-color: #091419;
    color: whitesmoke;
}

.submit {
    margin: auto;
    background-color: #1b3c4b;
    color: #b0bec5;
    padding: 5px;
    border-radius: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: #2d647d;
    outline: none;
    cursor: pointer;
}